/* 
PeriDocs/new-new-look/styleguide.css
save-state 2026-05-03T18:12:00-04:00
*/

:root {
  --brandcarbon-blackcarbon-black-001: rgba(109, 109, 109, 1);
  --brandcarbon-blackcarbon-black-002: rgba(93, 93, 93, 1);
  --brandcarbon-blackcarbon-black-003: rgba(77, 77, 77, 1);
  --brandcarbon-blackcarbon-black-004: rgba(44, 44, 44, 1);
  --brandcarbon-blackcarbon-black-005: rgba(27, 27, 27, 1);
  --brandcarbon-blackcarbon-black-006: rgba(20, 20, 20, 1);
  --brandmauve-shadowmauve-shadow-001: rgba(143, 95, 120, 1);
  --brandmauve-shadowmauve-shadow-002: rgba(128, 85, 107, 1);
  --brandmauve-shadowmauve-shadow-003: rgba(113, 75, 95, 1);
  --brandmauve-shadowmauve-shadow-004: rgba(97, 64, 81, 1);
  --brandmauve-shadowmauve-shadow-005: rgba(84, 56, 70, 1);
  --brandmauve-shadowmauve-shadow-006: rgba(70, 47, 59, 1);
  --brandmauve-shadowmauve-shadow-007: rgba(56, 37, 47, 1);
  --brandmauve-shadowmauve-shadow-008: rgba(49, 33, 41, 1);
  --brandeggshelleggshell-001: rgba(245, 243, 237, 1);
  --brandeggshelleggshell-002: rgba(235, 230, 219, 1);
  --brandeggshelleggshell-003: rgba(225, 218, 201, 1);
  --brandeggshelleggshell-004: rgba(215, 206, 183, 1);
  --brandeggshelleggshell-005: rgba(205, 193, 165, 1);
  --branddusty-olivedusty-olive-001: rgba(182, 193, 169, 1);
  --branddusty-olivedusty-olive-002: rgba(172, 184, 157, 1);
  --branddusty-olivedusty-olive-003: rgba(151, 166, 132, 1);
  --branddusty-olivedusty-olive-004: rgba(120, 136, 99, 1);
  --branddusty-olivedusty-olive-005: rgba(108, 124, 89, 1);
  --branddusty-olivedusty-olive-006: rgba(93, 106, 77, 1); /* menu bar color */
  --branddusty-olivedusty-olive-006-translucent: rgba(93, 106, 77, 0.3); /* header background color */
  --branddusty-olivedusty-olive-007: rgba(78, 89, 64, 1);
  --branddusty-olivedusty-olive-008: rgba(70, 80, 58, 1);
  --branddusty-olivedusty-olive-009: rgba(54, 62, 45, 1);
  --brandbright-periwinklebright-periwinkle-001: rgba(233, 233, 255, 1);
  --brandbright-periwinklebright-periwinkle-002: rgba(219, 219, 255, 1);
  --brandbright-periwinklebright-periwinkle-003: rgba(204, 204, 255, 1);
  --brandbright-periwinklebright-periwinkle-004: rgba(171, 171, 255, 1);
  --brandbright-periwinklebright-periwinkle-005: rgba(153, 153, 255, 1);
  --brandbright-periwinklebright-periwinkle-006: rgba(138, 138, 255, 1);
  --brandmuted-periwinklemuted-periwinkle-001: rgba(209, 209, 228, 1);
  --brandmuted-periwinklemuted-periwinkle-002: rgba(169, 169, 204, 1);
  --brandmuted-periwinklemuted-periwinkle-003: rgba(129, 129, 180, 1);
  --brandmuted-periwinklemuted-periwinkle-004: rgba(109, 109, 164, 1);
  --brandmuted-periwinklemuted-periwinkle-005: rgba(92, 92, 153, 1); /* Action Button */
  --brandmuted-periwinklemuted-periwinkle-006: rgba(75, 75, 102, 1);
  --styles-font-family-1: "Montserrat Alternates", Helvetica;
  --styles-hero1-font-weight: 600;
  --styles-hero1-font-size: 40px;
  --styles-hero1-letter-spacing: 0.4px;
  --styles-hero1-line-height: 110.00000238418579%;
  --styles-hero1-font-style: normal;
  --styles-font-family-2: "IM FELL French Canon", Helvetica;
  --styles-hero2-font-weight: 400;
  --styles-hero2-font-size: 60px;
  --styles-hero2-letter-spacing: 0.6px;
  --styles-hero2-line-height: 80.0000011920929%;
  --styles-hero2-font-style: normal;
  --styles-font-family-3: "Lexend", Helvetica;
  --styles-allcap1-font-weight: 700;
  --styles-allcap1-font-size: 24px;
  --styles-allcap1-letter-spacing: 0.72px;
  --styles-allcap1-line-height: 160.0000023841858%;
  --styles-allcap1-font-style: normal;
  --styles-regcap1-font-weight: 700;
  --styles-regcap1-font-size: 24px;
  --styles-regcap1-letter-spacing: 0.72px;
  --styles-regcap1-line-height: 160.0000023841858%;
  --styles-regcap1-font-style: normal;
  --styles-altcap-font-weight: 600;
  --styles-altcap-font-size: 24px;
  --styles-altcap-letter-spacing: 0.24px;
  --styles-altcap-line-height: 160.0000023841858%;
  --styles-altcap-font-style: normal;
  --styles-sub-font-family: "Libre Baskerville", Helvetica;
  --styles-sub-font-weight: 400;
  --styles-sub-font-size: 24px;
  --styles-sub-letter-spacing: 0.72px;
  --styles-sub-line-height: 139.9999976158142%;
  --styles-sub-font-style: normal;
  --styles-h1-font-family: "Libre Baskerville", Helvetica;
  --styles-h1-font-weight: 700;
  --styles-h1-font-size: 36px;
  --styles-h1-letter-spacing: 0.54px;
  --styles-h1-line-height: 129.99999523162842%;
  --styles-h1-font-style: normal;
  --styles-h2-font-family: "Libre Baskerville", Helvetica;
  --styles-h2-font-weight: 700;
  --styles-h2-font-size: 28px;
  --styles-h2-letter-spacing: 0.56px;
  --styles-h2-line-height: 135.0000023841858%;
  --styles-h2-font-style: normal;
  --styles-h3-font-weight: 600;
  --styles-h3-font-size: 24px;
  --styles-h3-letter-spacing: 0.24px;
  --styles-h3-line-height: 139.9999976158142%;
  --styles-h3-font-style: normal;
  --styles-h4-font-weight: 600;
  --styles-h4-font-size: 20px;
  --styles-h4-letter-spacing: 0.2px;
  --styles-h4-line-height: 139.9999976158142%;
  --styles-h4-font-style: normal;
  --styles-h5-font-family: "Wittgenstein", Helvetica;
  --styles-h5-font-weight: 600;
  --styles-h5-font-size: 18px;
  --styles-h5-letter-spacing: 0.54px;
  --styles-h5-line-height: 139.9999976158142%;
  --styles-h5-font-style: normal;
  --styles-h6-font-family: "Wittgenstein", Helvetica;
  --styles-h6-font-weight: 600;
  --styles-h6-font-size: 16px;
  --styles-h6-letter-spacing: 0.48px;
  --styles-h6-line-height: 139.9999976158142%;
  --styles-h6-font-style: normal;

  /* For some reason, the variables listed xl have the lowest weight integer. ??
  The font size is fine, it's just the font weight that goes backward.
  Not ideal at all, but we'll keep it as is until we're at a calm enough point to refactor */
  --styles-bodyxl: 400 18px/160% normal;
  --styles-bodyxl-letter-spacing: 0.54px;

  --styles-bodyl-font-weight: 400;
  --styles-bodyl-font-size: 16px;
  --styles-bodyl-letter-spacing: 0.48px;
  --styles-bodyl-line-height: 160.0000023841858%;
  --styles-bodyl-font-style: normal;
  --styles-bodym-font-weight: 400;
  --styles-bodym-font-size: 14px;
  --styles-bodym-letter-spacing: 0.42px;
  --styles-bodym-line-height: 160.0000023841858%;
  --styles-bodym-font-style: normal;
  --styles-bodys-font-weight: 500;
  --styles-bodys-font-size: 12px;
  --styles-bodys-letter-spacing: 0.36px;
  --styles-bodys-line-height: 160.0000023841858%;
  --styles-bodys-font-style: normal;
  --styles-bodyxs-font-weight: 500;
  --styles-bodyxs-font-size: 10px;
  --styles-bodyxs-letter-spacing: 0.3px;
  --styles-bodyxs-line-height: 160.0000023841858%;
  --styles-bodyxs-font-style: normal;
  --styles-tag1-font-family: "Wittgenstein", Helvetica;
  --styles-tag1-font-weight: 500;
  --styles-tag1-font-size: 16px;
  --styles-tag1-letter-spacing: 0.8px;
  --styles-tag1-line-height: 110.00000238418579%;
  --styles-tag1-font-style: normal;
  --styles-tag2-font-family: "Wittgenstein", Helvetica;
  --styles-tag2-font-weight: 500;
  --styles-tag2-font-size: 14px;
  --styles-tag2-letter-spacing: 0.7px;
  --styles-tag2-line-height: 110.00000238418579%;
  --styles-tag2-font-style: normal;
  --styles-buttonl-bold-font-weight: 700;
  --styles-buttonl-bold-font-size: 20px;
  --styles-buttonl-bold-letter-spacing: 1px;
  --styles-buttonl-bold-line-height: 110.00000238418579%;
  --styles-buttonl-bold-font-style: normal;
  --styles-buttonl-font-weight: 400;
  --styles-buttonl-font-size: 20px;
  --styles-buttonl-letter-spacing: 1px;
  --styles-buttonl-line-height: 110.00000238418579%;
  --styles-buttonl-font-style: normal;
  --styles-buttonm-bold-font-weight: 700;
  --styles-buttonm-bold-font-size: 16px;
  --styles-buttonm-bold-letter-spacing: 0.8px;
  --styles-buttonm-bold-line-height: 110.00000238418579%;
  --styles-buttonm-bold-font-style: normal;
  --styles-buttonm-font-weight: 400;
  --styles-buttonm-font-size: 16px;
  --styles-buttonm-letter-spacing: 0.8px;
  --styles-buttonm-line-height: 110.00000238418579%;
  --styles-buttonm-font-style: normal;
  --styles-buttons-bold-font-weight: 700;
  --styles-buttons-bold-font-size: 14px;
  --styles-buttons-bold-letter-spacing: 0.7px;
  --styles-buttons-bold-line-height: 110.00000238418579%;
  --styles-buttons-bold-font-style: normal;
  --styles-buttons-font-weight: 400;
  --styles-buttons-font-size: 14px;
  --styles-buttons-letter-spacing: 0.7px;
  --styles-buttons-line-height: 110.00000238418579%;
  --styles-buttons-font-style: normal;
  --styles-menu-font-weight: 400;
  --styles-menu-font-size: 18px;
  --styles-menu-letter-spacing: 0.54px;
  --styles-menu-line-height: 110.00000238418579%;
  --styles-menu-font-style: normal;
  --styles-quote-font-weight: 400;
  --styles-quote-font-size: 16px;
  --styles-quote-letter-spacing: 0.48px;
  --styles-quote-line-height: 160.0000023841858%;
  --styles-quote-font-style: normal;
  --styles-title1-font-family: "Wittgenstein", Helvetica;
  --styles-title1-font-weight: 800;
  --styles-title1-font-size: 54px;
  --styles-title1-letter-spacing: 0.54px;
  --styles-title1-line-height: 110.00000238418579%;
  --styles-title1-font-style: normal;
  --styles-title1-smaller-font-family: "Wittgenstein", Helvetica;
  --styles-title1-smaller-font-weight: 800;
  --styles-title1-smaller-font-size: 48px;
  --styles-title1-smaller-letter-spacing: 0.48px;
  --styles-title1-smaller-line-height: 110.00000238418579%;
  --styles-title1-smaller-font-style: normal;
  --styles-title2-font-weight: 700;
  --styles-title2-font-size: 54px;
  --styles-title2-letter-spacing: 0.54px;
  --styles-title2-line-height: 110.00000238418579%;
  --styles-title2-font-style: normal;
  --styles-title2-smaller-font-weight: 700;
  --styles-title2-smaller-font-size: 48px;
  --styles-title2-smaller-letter-spacing: 0.48px;
  --styles-title2-smaller-line-height: 110.00000238418579%;
  --styles-title2-smaller-font-style: normal;
  --archived-styles-hero-font-weight: 600;
  --archived-styles-hero-font-size: 40px;
  --archived-styles-hero-letter-spacing: 1.2px;
  --archived-styles-hero-line-height: 160.0000023841858%;
  --archived-styles-hero-font-style: normal;
  --archived-styles-bodyxl-font-weight: 400;
  --archived-styles-bodyxl-font-size: 18px;
  --archived-styles-bodyxl-letter-spacing: 0.54px;
  --archived-styles-bodyxl-line-height: 160.0000023841858%;
  --archived-styles-bodyxl-font-style: normal;
  --archived-styles-tag-font-weight: 600;
  --archived-styles-tag-font-size: 11px;
  --archived-styles-tag-letter-spacing: 1.5px;
  --archived-styles-tag-line-height: 100%;
  --archived-styles-tag-font-style: normal;
  --archived-styles-h1-font-weight: 400;
  --archived-styles-h1-font-size: 48px;
  --archived-styles-h1-letter-spacing: -0.30000001192092896px;
  --archived-styles-h1-line-height: 120.00000476837158%;
  --archived-styles-h1-font-style: normal;
  --archived-styles-h2-font-family: "Alegreya", Helvetica;
  --archived-styles-h2-font-weight: 700;
  --archived-styles-h2-font-size: 36px;
  --archived-styles-h2-letter-spacing: 0px;
  --archived-styles-h2-line-height: 125%;
  --archived-styles-h2-font-style: normal;
  --archived-styles-h3-font-family: "Alegreya", Helvetica;
  --archived-styles-h3-font-weight: 700;
  --archived-styles-h3-font-size: 28px;
  --archived-styles-h3-letter-spacing: 0px;
  --archived-styles-h3-line-height: 129.99999523162842%;
  --archived-styles-h3-font-style: normal;
  --archived-styles-h4-font-family: "Alegreya Sans", Helvetica;
  --archived-styles-h4-font-weight: 500;
  --archived-styles-h4-font-size: 22px;
  --archived-styles-h4-letter-spacing: 0.10000000149011612px;
  --archived-styles-h4-line-height: 135.0000023841858%;
  --archived-styles-h4-font-style: normal;
  --archived-styles-bodylarge-font-weight: 400;
  --archived-styles-bodylarge-font-size: 18px;
  --archived-styles-bodylarge-letter-spacing: 0.10000000149011612px;
  --archived-styles-bodylarge-line-height: 160.0000023841858%;
  --archived-styles-bodylarge-font-style: normal;
  --archived-styles-bodydefault-font-weight: 400;
  --archived-styles-bodydefault-font-size: 16px;
  --archived-styles-bodydefault-letter-spacing: 0.10000000149011612px;
  --archived-styles-bodydefault-line-height: 160.0000023841858%;
  --archived-styles-bodydefault-font-style: normal;
  --archived-styles-bodysmall-font-family: "Inter", Helvetica;
  --archived-styles-bodysmall-font-weight: 400;
  --archived-styles-bodysmall-font-size: 14px;
  --archived-styles-bodysmall-letter-spacing: 0.10000000149011612px;
  --archived-styles-bodysmall-line-height: 154.99999523162842%;
  --archived-styles-bodysmall-font-style: normal;
  --archived-styles-caption-font-family: "Inter", Helvetica;
  --archived-styles-caption-font-weight: 500;
  --archived-styles-caption-font-size: 12px;
  --archived-styles-caption-letter-spacing: 0.30000001192092896px;
  --archived-styles-caption-line-height: 139.9999976158142%;
  --archived-styles-caption-font-style: normal;
  --archived-styles-navlink-font-weight: 500;
  --archived-styles-navlink-font-size: 15px;
  --archived-styles-navlink-letter-spacing: 0.5px;
  --archived-styles-navlink-line-height: 100%;
  --archived-styles-navlink-font-style: normal;
  --archived-styles-buttontext-font-weight: 600;
  --archived-styles-buttontext-font-size: 15px;
  --archived-styles-buttontext-letter-spacing: 0.800000011920929px;
  --archived-styles-buttontext-line-height: 100%;
  --archived-styles-buttontext-font-style: normal;
  --variable-collection-height: 20px;
  --variable-collection-number: 0px;
  --variable-collection-width: var(--variable-collection-height);
  --variable-collection-sizing-logo-size: 24px;
  --variable-collection-sizing-logo-frame: 44px;
  --variable-collection-sizing-desktop-width: 1440px;
  --variable-collection-brand-overlays-mauve-shadow-overlay-001: rgba(
    84,
    56,
    70,
    0.75
  );
  --variable-collection-secondary-button-color: rgba(75, 75, 102, 1);
  --variable-collection-primary-button-color: rgba(109, 109, 164, 1);
  --variable-collection-carbon-black-001: rgb(0, 0, 0);



  --box-shadow-typical: 0px 4px 4px #00000080;
}