{# PeriDocs-code/app/templates/about.html save-state 2026-05-09T13:04:15-04:00 #}
{% extends "base.html" %}
{% block title %}About | PeriDocs.org{% endblock %}

{% block content %}
  <div class="card-grid">
    <div class="card size-3">
      <h1 class="center">About PeriDocs.org</h1>
      <p class="left">There is a scene in <strong>The Princess Bride</strong> in which Westley (“Aaaaaaas youuuuuuu wiiiiiiish” dude) and Vizzini (“incOnCEivaBLe” dude) are “battling” each other through a gambling-like game that tests both men’s wits. Westley presents a choice to Vizzini:</p><br>

      <p class="center">Before us are two glasses of wine, one on your side and one on my side. I also have here an extremely deadly poison. One of the glasses has the poison, and the other does not. There is absolutely no physical way to tell the difference. You must choose whether or not to drink out of my cup or yours.</p><br>

      <p class="left">Vizzini is a boastful, arrogant man, and goes on a long tangent trying to show off his intelligence; his narrative switches back and forth between which glass the poison is most likely to be in based on many arbitrary, ridiculous conclusions (e.g., “Iocaine [the poison] comes from Australia, as everyone knows, and Australia is entirely filled with criminals…”).</p><br>

      <p class="left">After this long tirade, he eventually decides to drink the glass originally in front of Westley, which he thinks he has tricked Westley into believing was the one originally in front of him (he switched them out with a really obvious “look over there!”). He reasons that if Westley shows no hesitation to drink out of the cup that Vizzini decided on, then Vizzini will be safe under the guise of the (poorly executed) “cup switching.”</p><br>

      <p class="left">Vizzini dies. Not because Westley plays an excellent bluff, and not because he knew that Vizzini would pull any of the tricks that he did. Westley’s game works regardless of his opponent, as long as they don’t catch on to one key thing: both glasses were poisoned, but Westley had built an immunity to the poison. Of course, had Vizzini known this, he wouldn’t have played the game. It was a game he was incapable of winning. Thus the real game was choosing to play at all.</p><br>

      <p class="left">We cannot feel the absence of what we do not know exists, and we cannot desire something we do not understand. To be ignorant is to be full of bliss, but to seek out knowledge and complexity is to discover how much joy a human can truly feel. Pain as well, yes, but in the right situations, there is unique power in exploring <strong>a greater realm</strong> of happiness—a possible infinity—regardless of any other factors.</p><br>

      <p class="left">Like our perception of life itself, Westley successfully created the illusion of only having two choices. He defeated Vizzini because of his genuine belief that he had to participate in someone else’s game. We are all constricted by the identities we build as a result of being tied to an unjust, imbalanced system. The pathways we follow in life—education, career, marriage, friendship, family, hobbies—are primarily determined by others telling us what they “should” look like, based on aspects of ourselves that were not chosen and were determined before we were born. It can be difficult to believe sometimes. Adapting to the knowledge of the seemingly infinite choices we <strong>can</strong> make takes effort to unlearn and fight against. But with this knowledge, countless people’s lives have been changed by the introduction of a beautiful idea that was just never allowed to occur to them.</p><br>

      <p class="left">Even without any way of proving either outcome, or a seemingly contrived explanation as to how it could be possible, the simple knowledge that the glasses <strong>might both</strong> be poisoned would have stopped Vizzini from moving forward. And he would have looked for another way. Because <strong>there is always another way</strong>.</p><br>

      <p class="left">—</p><br>

      <p class="left">The decision-making process is inherently flawed, and thus, computational interpretation of language that attempts to make a final decision will fail again and again to do so without risking irrational, sporadic results. One of PeriDocs’ greatest strengths is its ability (and the creators’ commitment) to listen to the voices of many, to view real human experience through more than one lens. Different perspectives are important to consider, <strong>especially</strong> if they appear ridiculous or impossible or beyond the realm of understanding.</p><br>

      <p class="left">The name of this organization is heavily inspired by a <strong>paradox</strong> *wink* introduced by Hungarian-British philosopher and polymath Michael Polanyi:</p><br>

      <p class="center">“We can know more than we can tell.”</p><br>

      <p class="left">To no one’s surprise, I completely agree. There will never be enough words to display, in its entirety, the wonderful world that exists inside of our heads. PeriDocs aims not to deny the validity of this claim, but instead to live within the discomfort, as everyone must.</p><br>

      <p class="left">Though what I find most beautiful about Polanyi’s paradox is what can exist beyond it. As individuals, we have no obligation to share the knowledge we’ve gained, but many of the wisest among us are the ones who choose to tell regardless. This, my friends, is where we are most fortunate, because this is not where the story ends. On its own, language is already remarkable; our words convey powerful ideas and preserve our minds that are trapped within impermanent forms. But it is through <strong>conversation</strong> that knowledge need not be told. It is through compassion and empathy and understanding of each other that language becomes so much more than the words that are said or written. It becomes the architecture in which we are allowed to grow, together.</p><br>

      <p class="left">With PeriDocs, we hope to continue the conversation with our own question:</p><br>

      <p class="center">“If <strong>we can know more than we can tell</strong>, then what do we learn when we find the strength to <strong>ask</strong>?”</p><br>

      <p class="right">—Mya Blair, Co-Founder of <strong>PeriDocs LLC</strong></p>
      <p class="right"><a href="mailto:info@peridocs.org">info@peridocs.org</a></p>
    </div>
  </div>
{% endblock %}