{# PeriDocs/app/templates/account-login.html save-state 2026-05-20T20:09:30-04:00 #}
{% extends "base.html" %}
{% block content %}

<div class="wrap">
  <div class="card-grid">
  <div class="card">

    <h1>Account Login</h1>

    <div class="card-content">

      <input class="typeahead-dropdown typeahead-item" id="username" type="text" placeholder="username" />
      <div style="height:10px"></div>

      <input class="typeahead-dropdown typeahead-item" id="password" type="password" placeholder="password" />
      <div style="height:10px"></div>

      <input class="typeahead-dropdown typeahead-item" id="totp" type="text" placeholder="TOTP code" />

      <div style="height:20px"></div>

      <button
        class="general-button"
        id="login-button"
      >
        Login
      </button>

    </div>

  </div>
  </div>
</div>

<script src="/static/account-login-responsiveness.js"></script>

{% endblock %}