{# PeriDocs/app/templates/account-login.html save-state 2026-05-11T13:52:35-04:00 #}
{% extends "base.html" %}
{% block content %}

<div class="wrap">
  <div class="card-grid">
  <div class="card">

    <h1>Account Login</h1>

    <div class="card-content">

      <input class="typeahead-dropdown typeahead-item" id="username" type="text" placeholder="username" />
      <div style="height:10px"></div>

      <input class="typeahead-dropdown typeahead-item" id="password" type="password" placeholder="password" />
      <div style="height:10px"></div>

      <input class="typeahead-dropdown typeahead-item" id="totp" type="text" placeholder="TOTP code" />

      <div style="height:20px"></div>

      <button class="general-button" onclick="login()">Login</button>

    </div>

  </div>
  </div>
</div>

<script>
async function login() {
  const username = document.getElementById("username").value;
  const password = document.getElementById("password").value;
  const time_code = document.getElementById("totp").value;

  const res = await authFetch("/auth/login", {
    method: "POST",
    credentials: "same-origin",
    headers: authHeaders(),
    body: JSON.stringify({
      username,
      password,
      time_code
    })
  });

  const data = await res.json();

  if (data.status === "ok") {
    window.location.href = "/";
  } else {
    showToast("Login failed", "error");
  }
}
</script>

{% endblock %}