{# PeriDocs/app/templates/admin-review.html save-state 2026-05-20T22:23:20-04:00 #}
{% extends "base.html" %}
{% block title %}Admin Review | PeriDocs.org{% endblock %}

{% block content %}

<button id="logout-btn" class="general-button">Logout</button>

<div class="card-grid">
<div class="card">
  <h1>Review Queue</h1>
  <div id="review-list" class="card-content"></div>
</div>

<div class="card">
  <h2>Create Heuristic</h2>

  <div id="givens-container"></div>
  <button id="add-given-btn" class="general-button">+ Add Given</button>

  <hr>

  <div id="outputs-container"></div>
  <button id="add-output-btn" class="general-button">+ Add Output</button>

  <br><br>
  <button id="submit-heuristic-btn" class="general-button">Submit</button>

</div>
</div>

<script src="/static/admin_review_ux.js" defer></script>

{% endblock %}