{# PeriDocs-code/app/templates/using-the-site.html save-state 2026-07-11T15:43-04:00 #}
{% extends "base.html" %}
{% block title %}Using The Site | PeriDocs.org{% endblock %}

{% block content %}
  <div class="card-grid">
    <div class="card size-3">
      <h1 class="center">Using The Site<br><br></h1>
      <p class="center"><strong><a href="/create-entry">Contributing an Entry</a></strong></p><br>
      <p class="center">When you create an Entry on PeriDocs.org, we allow you to select whether you'd like your Entry to be saved permanently to our database or only used a temporary search, similar to how a person uses traditional search engines. Where PeriDocs differs is that you are allowed to submit your Entry in any amount of detail that you'd like; we aim to provide search functionality for any Entry that abides by our  <a href="/terms-of-service">Terms of Service</a>, but please note that our search capabilities grows stronger with each Entry that you allow us to store as its own persistent post.<br></p>
    </div>
  </div>
{% endblock %}