{# PeriDocs-code/app/templates/ways-to-help.html save-state 2026-07-11T15:13-04:00 #}
{% extends "base.html" %}
{% block title %}Ways to Help | PeriDocs.org{% endblock %}

{% block content %}
  <div class="card-grid">
    <div class="card size-3">
      <h1 class="center">Ways To Help The PeriDocs Team</h1>
      
      <p class="left"><strong><br><br>Thanks for considering ways to help.</strong> We're 2-person team based in Atlanta, looking to foster a curated database of public educational media across the internet; PeriDocs aims to help others articulate the worldviews they might already personally beleive in but don't yet have the words to express. </p><br>
      <p class="left">Our website is free for non-commercial use by individuals, and we'd appreciate any contributions and support we receive to maintain and expand PeriDocs. This could come in several different ways. </p><br>
      <p class="center"><strong><a href="/create-entry">Contributing an Entry</a></strong></p><br>
      <p class="center">When you create an Entry on PeriDocs.org, we allow you to select whether you'd like your Entry to be saved permanently to our database or only used a temporary search, similar to how a person uses traditional search engines. Where PeriDocs differs is that you are allowed to submit your Entry in any amount of detail that you'd like; we aim to provide search functionality for any Entry that abides by our  <a href="/terms-of-service">Terms of Service</a>, but please note that our search capabilities grows stronger with each Entry that you allow us to store as its own persistent post.<br></p>
      <p class="center"><strong><a href="/suggest-resource">Contributing an Outlink Resource</a></strong></p><br>
      <p class="center">A key aspiration of PeriDocs, as a tool, is assisting those who visit our website by showing them relevant passages, comments, blog posts, articles, peer-reviwed studies, poetry, music, and video that has been reviewed by a person on our Team. <br>If there's a piece of writing that has resonated with you particularly strongly as of late, feel free to <a href="/suggest-resource">share it with us</a>, and we'll consider adding it to our allowlist of search results.</p><br>
      <p class="center"><strong><a href="/#donate">Donating What You Choose</a></strong></p><br>
      <p class="center">The official operator of this website, PeriDocs LLC, is run entirely free from venture capital, private equity, advertisers, or data brokers. We are beyond thankful for monetary donations of any amount. Payments are handled entirely by Stripe, our payment processor. Please keep in mind that we are not a 501(c)(3) organization, so donations are not tax-deductible.</p><br>
      <p class="center"><strong>Telling Others About PeriDocs</a></strong></p><br>
      <p class="center">If you find this project intriguing, consider telling other people that you know. We appreciate the support!</p><br>
      <p class="right">—Michael Parks, Co-Founder of <strong>PeriDocs LLC</strong></p>
      <p class="right"><a href="mailto:info@peridocs.org">info@peridocs.org</a></p>
    </div>
  </div>
{% endblock %}